* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}


/*cores*/
:root {

    --brancoSuave: #FAFAFA;
    --brancoElegante: #F5F3EF;
    --nudeClaro: #EDE1D4;
    --nudeRosado: #E6D2C3;
    --nudeQuente: #D8C2B0;
    --nudeAreia: #CBB7A3;
    --douradoChampanhe: #E6C77A;
    --douradoSuave: #D4AF37;
    --douradoClassico: #C9A24D;
    --cinzaQuente: #6E6A66;
    --VeludoBordo: #5A1E2D;
    --veludoAmeixa: #4B1F2B;
    --veludoMarrom: #3E1F1B;
    --marromGrafite: #2A1E1B;
    --pretoSuave: #1F1F1F;
}

/*fontes*/
:root {

    --fonte-principal: 'Homenaje', sans-serif;
    --fonte-secundaria: 'Italiana', sans-serif;

    --fonte-titulo: 2rem;
    --fonte-texto: 1rem;
}

html {
    scroll-behavior: smooth;
}


/*Desktop*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--brancoElegante);
    opacity: 0.95;
    border-bottom: 2px solid var(--nudeClaro);
    backdrop-filter: blur(10px);
    height: auto;
    top: 0;
    z-index: 1000;
}

header .logo {
    margin: 10px 0;
    border: solid 1px var(--douradoClassico);
    box-shadow: 1px 1px 1px var(--pretoSuave);
}

header .redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    font-size: 1.5rem;
}

header .redes-sociais li {
    list-style: none;
    text-decoration: none;
}

header .redes-sociais li a {
    color: var(--marromGrafite);
    cursor: pointer;
    font-size: 1.5rem;

    transition:
        color 0.3s ease,
        text-shadow 0.3s ease,
        transform 0.3s ease;
}

header .redes-sociais li a:hover {
    text-shadow: 1px 1px 4px var(--veludoAmeixa);
    transform: scale(1.08);
}

section.btn-paginas {
    width: 100%;
}

section .nav-paginas {

    width: 80%;
    margin: 1.5rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    background-color: var(--nudeClaro);
    width: 30%;
    height: 2rem;
    border: 1px solid var(--marromGrafite);
    cursor: pointer;
    transition:
        color 0.3s ease,
        text-shadow 0.3s ease,
        transform 0.3s ease;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--marromGrafite);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}


.btn:hover {
    box-shadow: 1px 1px 4px var(--veludoAmeixa);
    background-color: var(--nudeAreia);
}

body {
    background-color: var(--brancoSuave);
    overflow-x: hidden;
}

/*banner titulo e imagem*/

section.banner {
    width: 80%;
    display: flex;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: linear-gradient(135deg, var(--brancoElegante) 0%, var(--nudeClaro) 90%);
    border-radius: 50px;
    border: 1px solid rgba(230, 199, 122, 0.3);
    padding: 20px;
}


.titulo-banner {
    flex-direction: column;
    display: flex;
}

.titulo-banner h1 {
    font-family: var(--fonte-secundaria);
    font-size: 30px;
    font-weight: bold;
    margin-top: -80px;
    letter-spacing: 4px;
    color: var(--veludoMarrom);
    font-style: italic;
}

.titulo-banner h2 {
    padding-top: 2px;
    font-size: var(--fonte-texto);
    color: var(--veludoAmeixa);
    font-style: italic;
}

.divisao h2 {
    text-align: center;
    padding-top: 2px;
    font-size: var(--fonte-titulo);
    color: var(--veludoAmeixa);
    border-bottom: 2px solid var(--douradoClassico);
    width: 80%;
    margin: 120px auto;
}

.titulo-banner h3 {
    top: 150px;
    font-family: var(--fonte-secundaria);
    font-size: 50px;
    position: relative;
    font-size: 1.2rem;
    padding: 20px;
    font-style: italic;
    color: var(--pretoSuave);
    border-left: 2px solid var(--douradoClassico);
    margin-left: 10px;
}

.banner-imagem {
    max-width: 380px;
}

.img-banner {
    border-radius: 20px;
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 2px var(--veludoAmeixa);
}

.container {
    width: 80%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.card {
    background-color: var(--brancoElegante);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.card a {
    text-decoration: none;
    color: var(--douradoClassico);
    cursor: pointer;
}

.card img {
    width: 100%;
    max-width: 190px;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 1rem;
}


.card h3 {
    font-family: var(--fonte-secundaria);
    color: var(--veludoAmeixa);
    margin-bottom: 0.5rem;
}

.card p {
    font-size: var(--fonte-texto);
    color: var(--pretoSuave);
    line-height: 1.4;
}

.container-nossoespaco {
    display: block;
    margin: auto;
}

.efeito-nossoespaco {
    background: linear-gradient(to right, var(--brancoSuave), var(--nudeAreia));
    border-radius: 15px;
    width: 50%;
    display: block;
    margin: auto;
    box-shadow: 1px 1px 1px var(--pretoSuave);
}

.card video {
    margin-top: 1.5rem;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 1rem;
}
.container-duvidas{
    display: flex;
    justify-content: center;
    width: 100%;
}
.container-duvidas img{
    max-width: 200px;
    height: auto;
}
.msg-duvidas{
    border: solid 2px var(--douradoChampanhe);
    padding: 10px 20px;
    height: 250px;
}
.msg-duvidas p{
    font-size: 1.2rem;
    max-width: 250px;
}
.msg-duvidas a{
    text-decoration: none;
    color: var(--douradoClassico);
}
.container-depoimento{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
    margin-bottom: 150px;
}
.depoimento-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-depoimento img{
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
    height: 300px;
    object-fit: contain;
    border: solid 1px var(--douradoClassico);
    box-shadow: 1px 1px 1px var(--pretoSuave);
}
footer{
   background-color: var(--nudeQuente);
   font-size: 1rem;
   text-align: center;
   color: var(--cinzaQuente);
   margin-top: 150px;
}

footer a{
    text-decoration: none;
    color: var(--veludoMarrom);
}

footer li{
    list-style: none;
    padding: 2px;
    font-size: 1.5rem;
    
}

.container-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    padding: 1.2rem;
    
}


/*desktop fechamento*/



/*tablet*/
@media (max-width: 780px) {
    .container {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }
    .container-depoimento{
        grid-template-columns: repeat(2, 1fr);
    }
}


/*smartphone*/

@media (max-width: 600px) {

    header {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;
    }

    header .logo img {
        width: 80px;
        height: 80px;
    }

    header .redes-sociais {
        gap: 2rem;
        font-size: 1.4rem;
    }

    section .nav-paginas {
        flex-direction: column;
        width: 90%;
        gap: 1rem;
    }

    .btn {
        width: 100%;
        height: 2.5rem;
    }

    section.banner {
        flex-direction: column;
        width: 90%;
        margin: 40px auto;
        text-align: center;
    }

    .titulo-banner {
        align-items: center;
    }

    .divisao {
        align-items: center;
        text-align: center;
    }

    .titulo-banner h1 {
        margin-top: 0;
        font-size: 1.8rem;
    }

    .titulo-banner h2 {
        font-size: 1rem;
    }

    .titulo-banner h3 {
        position: static;
        margin-top: 1rem;
        font-size: 1rem;
        padding: 15px;
    }

    .img-banner {
        width: 100%;
        max-width: 320px;
        height: auto;
        margin-top: 1.5rem;
    }

    .container {
        width: 90%;
        grid-template-columns: 1fr;
    }
    .container-duvidas {
        width: 90%;
        grid-template-columns: 1fr;
    }
    .container-depoimento {
        grid-template-columns: 1fr;
    }

    .card {
        padding: 1.2rem;
    }

    .card img {
        height: 300px;
    }

    .card h3 {
        font-size: 1.2rem;
    }

    .card p {
        font-size: 1rem;
    }

}

#btnFlutuante {
    position: fixed;
    bottom: 100px;
    right: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #25D366;
    color: #fff;
    font-size: 28px;
    border: none;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: transform 0.2s, box-shadow 0.2s;
}

#btnFlutuante:hover {
    transform: scale(1.1);
    box-shadow: 0 12px 25px rgba(0,0,0,0.35);
}
